@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto:100,400,700,900&display=swap&subset=japanese');
:root {
  --purple: #7371FC;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  background: #F7F7FB;
  max-width: 600px;
  margin: auto;
}

header {
  height: 180px;
  position: relative;
}
header #logo {
  width: 40px;
  display: block;
  position: absolute;
  top: 50px;
  left: calc(50% - 15px);
  transition: transform 450ms 0s ease-out, left 250ms 450ms ease-in-out;
}

header.init #logo {
  left: calc(50% - 70px);
  transform: rotateX(360deg);
}

header p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #222e;
  position: absolute;
  top: 46px;
  left: calc(50% - 20px);
  opacity: 0;
  transition: opacity 1000ms 600ms ease;
}

header.init p {
  opacity: 1;
}

header #pool {
  display: block;
  width: 100%;
  opacity: 0;
  z-index: -10;
  transition: opacity 1000ms 1000ms ease;
}
header.init #pool {
  opacity: 1;
}

h2 {
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

#skills-wrap {
  padding-bottom: 25px;
  background: #3C91E610;
}

#skill_icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#skill_icons .circle {
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  width: 70px;
  height: 70px;
  padding-top: 9px;
  margin: 5px;
  background: #fffb;
}
#skill_icons img {
  display: block;
  margin: auto;
  height: 40px;
}
#skill_icons p {
  text-align: center;
  font-size: 0.9rem;
  color: #222;
  padding-top: 3px;
}


#works .card {
  display: flex;
  padding: 10px 5px;
  height: 100px;
  margin: 10px 12px;
  position: relative;
}
#works .image {
  height: 100%;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

#works .image img {
  width: 80px;
}
#works .detail {
  padding-left: 12px;
  border-left: solid .5px #ddd;
}
#works .detail p {
  color: #aaa;
}
#works .detail p:first-child {
  font-size: 2rem;
  color: #111;
  font-weight: bold;
  padding: 4px 0;
}
#works a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#contact div {
  margin: 8px auto;
  width: 220px;
}
#contact span, #contact a {
  font-size: 1.5rem;
  display: inline-block;
  width: 100px;
  line-height: 1.7;
}
#contact span {
  color: #bbb;
  text-align: right;
  padding-right: 10px;
}
#contact a {
  text-decoration: none;
  color: white;
  background: #96CDFF;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}



footer {
  margin-top: 40px;
  background: #eee;
  padding: 30px;
  line-height: 1.5;
}
footer h3 {
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 5px;
}

.bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #96CDFF66;
  position: absolute;
  z-index: 100;
  left: 10vh;
  top: 20vh;
}
