@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:700|Noto+Sans+JP:300,400,700|Roboto:300,400,700&display=swap&subset=japanese');
:root {
  --men: #4fc0e8;
  --women: #ed85c0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  max-width: 1200px;
  margin: auto;
}

header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

header #burger {
  /* box-sizing: border-box; */
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 14px;
  margin: 8px 0;
}
header #burger span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  border-radius: 4px;
}
header #burger span:nth-of-type(1) {
  top: 0;
}
header #burger span:nth-of-type(2) {
  top: 6px;
}
header #burger span:nth-of-type(3) {
  bottom: 0;
}

header #burger.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-315deg);
}
header #burger.active span:nth-of-type(2) {
  opacity: 0;
}
header #burger.active span:nth-of-type(3) {
  transform: translateY(-6px) rotate(315deg);
}

header a img {
  height: 30px;
}
header .placeholder {
  width: 22px;
}

#menu {
  height: 0px;
  opacity: 0;
  transition: all .4s;
}
#menu.active {
  height: 100px;
  opacity: 1;
}
#menu #search {
  width: 100%;
  background: white;
  padding: 10px
}
#menu form {
  width: 55%;
  margin: auto;
  border-radius: 5px;
  background: #F1F3F5;
  position: relative;
  display: flex;
}
#menu form input:nth-child(1) {
  display: block;
  outline: none;
  margin-left: -8%;
  line-height: 2;
  font-size: 1.6rem;
  transform: scale(0.7);
  letter-spacing: 1px;
  width: 85%;
  font-weight: bold;
}
#menu form input:nth-child(2) {
  outline: none;
  cursor: pointer;
  display: block;
  width: 15%;
}
#menu form i {
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  font-size: 16px;
  color: #aaa;
}

#hero {
  position: relative;
  overflow: hidden;
}
#hero img {
  width: 100%;
}
#hero > p {
  color: white;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 10vw;
  font-family: "Noto Serif JP";
  text-shadow: 2px 2px 1px rgba(0,0,0,.30);
  line-height: 1;
}
@media (min-width: 1000px) {
  #hero {
    height: 400px;
  }
  #hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #hero > p {
    font-size: 80px;
  }
}

#hero .column {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
}

#hero form {
  width: 100%;
  display: block;
  background: #fffd;
  border-radius: 4px;
  padding-left: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
#hero form input {
  outline: none;
  width: 100%;
  font-weight: bold;
  line-height: 32px;
  font-size: 1.4rem;
}
#hero form i {
  position: absolute;
  left: 7px;
  top: 9px;
  font-size: 1.4rem;
  color: #888;
}

#hero .column .buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#hero .button {
  position: relative;
  background: #fffd;
  width: 49%;
  text-align: center;
  padding-top: 8px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
#hero .button:first-child > i {
  color: var(--men);
}
#hero .button:first-child p {
  background: var(--men);
}
#hero .button:last-child > i {
  color: var(--women);
}
#hero .button:last-child p {
  background: var(--women);
}
#hero .button i {
  font-size: 2.5rem;
  display: block;
}
#hero .button p {
  margin-top: 5px;
  line-height: 2;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
}
#hero .button p i {
  display: inline;
  font-size: 1.2rem;
  padding-left: 5px;
}
#hero .button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#hero .button p::before {
  content: "最新";
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  font-weight: lighter;
  padding: 0 3px;
  border-radius: 3px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #f63434;
  color: white;
}
#hero .column > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
  line-height: 3;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,.30); */
}
#hero .column > p i {
  height: 15px;
  padding: 0 8px;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 8px;
}

#update {
  margin: 20px 0;
}
#update ul {
  margin-top: -8px;
}
#update li {
  margin: 0 20px;
  font-weight: normal;
  list-style: none;
  padding: 10px 0;
}
#update li + li {
  border-top: dashed 1px #ddd;
}
#update li p:first-child {
  width: 70px;
  text-align: center;
  line-height: 1.5;
  border-radius: 2px;
  background: #EE964B;
  color: white;
  margin-bottom: 2px;
}
#update li p:last-child, #update li a {
  color: #222;
  font-size: 1.2rem;
}
#update ul.less li:nth-child(n + 3) {
  display: none;
}

#update ul + p {
  display: none;
}
#update ul.less + p {
  display: block;
  cursor: pointer;
  color: #aaa;
  text-align: center;
  font-size: 1.1rem;
}


#about {
  padding: 20px 0;
  margin-bottom: 20px;
  background: #F2FCFD;
}

#about p {
  padding: 0 20px;
  line-height: 2;
  font-size: 1.2rem;
}

#todo, #credits{
  margin-bottom: 30px;
}
#todo ul, #credits ul {
  width: 90%;
  margin: auto;
  list-style: none;
}
#todo li, #credits li, #credits a {
  line-height: 2.4;
  font-size: 1.2rem;
  color: #333;
}
#todo li i {
  padding: 8px;
  color: #70E4EF;
}
#credits li i {
  padding: 8px;
  color: #EF709D;
}

footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #eee;
}
footer p {
  text-align: right;
  padding: 0 30px;
  font-size: 2rem;
  width: 100%;
  border-bottom: 2px solid #222;
}
footer p span {
  font-weight: bold;
}
footer img {
  height: 35px;
  position: absolute;
  background: #eee;
  padding: 0 10px;
  top: 42px;
  left: 10%;
}
footer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
