main {
  max-width: 1100px;
  margin: auto;
}
#header {
  width: auto;
  padding: 6px 0 8px 50px;
  margin: 8px 10px 2px 10px;
  font-size: 2rem;
  position: relative;
  font-weight: bold;
  color: #FFF;
  border-radius: 5px;
}
#header.men {
  background-color: #4fc0e8;
  border-bottom: solid 3px #419EBE;
}
#header.women {
  background-color: #ed85c0;
  border-bottom: solid 3px #C26D9E;
}
#header:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
#header span {
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 5px;
}
#header::before {
  content: '';
  position:  absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  left: 15px;
  top: 11px;
  border: solid 2px #fffa;
  background-color: #fff1;
  /* background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% ); */
}


#toggle:checked + #options {
  height: auto;
  opacity: 1;
}
input[type="checkbox"] {
  display: none;
}
#options {
  height: 0;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;
  background-color: #fafafa;
  opacity: 0;
  transition: 0.8s;
  box-shadow: 0 -6px 5px -4px #ccc inset, 0 6px 5px -4px #ccc inset;
}

/* セレクト */
#style-buttons {
  /* display: none; */
}
#style-buttons .row {
  margin: 3px 10px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 6px 15px 6px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#style-buttons #fr .column {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#style-buttons span {
  display: inline-block;
  width: 35%;
}
#style-buttons a {
  background-color: #fefefe44;
  border-radius: 5px;
  padding: 8px 0;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: white;
}
#style-buttons a:hover {
  background-color: transparent;
  border: 1px #eee solid;
}
#style-buttons #fr a {
  margin: 3px 0;
  width: 100%;
}
#style-buttons .row:not(:first-child) a {
  width: 20%;
}
#style-buttons #fr {
  background-color: var(--c-fr);
}
#style-buttons #ba {
  background-color: var(--c-ba);
}
#style-buttons #br {
  background-color: var(--c-br);
}
#style-buttons #fly {
  background-color: var(--c-fly);
}
#style-buttons #im {
  background-color: var(--c-im);
}


/* カテゴリ選択 */
#tab {
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
}
#tab div {
  padding: 3px 10px;
  display: inline-block;
  width: 23%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  border: 1px #ddd solid;
  border-radius: 4px;
}
#tab div.selected.men, #tab div.men:hover {
  border: none;
  background-color: var(--c-men);
}
#tab div.selected.women, #tab div.women:hover {
  border: none;
  background-color: var(--c-women);
}
#tab div.selected > a, #tab div:hover > a {
  color: white;
  text-shadow: 1px 1.3px 0 #6666;
}
#tab div a {
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  color: #aaa;
}


/* フィルターボタン */
#filter {
  margin: 30px 10px;
  border: .8px #ddd solid;
  position: relative;
  padding: 15px 0px 25px 0px;
}
#filter > p {
  position: absolute;
  font-weight: 400;
  font-size: 1.4rem;
  top: -10px;
  left: 20px;
  width: auto;
  padding: 0 8px;
  text-align: center;
  background-color: #fafafa;
  color: #aaa;
  letter-spacing: 1.5px;
}
#filter label {
  /* writing-mode: vertical-rl;
  text-orientation: upright; */
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2;
  letter-spacing: 3px;
  height: 2.8rem;
  width: 75px;
  border-radius: 4px;
  border: solid 0.8px #ddd;
  color: #aaa;
  margin: 3px;
}
#filter input:checked + label {
  color: white;
  background-color: #DD5274;
  border: solid 0.8px #DD5274;
}
#filter form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#filter input[type="submit"] {
  font-size: 1.4rem;
  display: block;
  width: 90px;
  line-height: 2.4;
  text-align: center;
  background-color: #DA4167;
  color: white;
  border-radius: 4px;
  position: absolute;
  right: calc(50% - 45px);
  bottom: -40px;
  box-shadow: 0 2px 5px #ccc;
}


/* ページ遷移のボタン */
.page_btns {
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  margin: 10px 8px;
}
.page_btns span {
  font-size: 1.7rem;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #555;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2px;
}
.page_btns.men span.current, .page_btns.men span:hover {
  background-color: var(--c-men);
  color: white;
}
.page_btns.women span.current, .page_btns.women span:hover {
  background-color: var(--c-women);
  color: white;
}

table {
  /* margin-top: 10px; */
  width: 100%;
  border-collapse: collapse;
}
table * {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
table tr {
  height: 50px;
  border-bottom: 0.7px #ddd solid;
}
table tr td:nth-child(1) span {
  color: white;
  border-radius: 0 5px 5px 0;
  display: inline-block;
  line-height: 25px;
  width: 50px;
  text-align: center;
  font-weight: bold;
}
table.men tr td:nth-child(1) span {
  background-color: var(--c-men);
}
table.women tr td:nth-child(1) span {
  background-color: var(--c-women);
}
table tr td:nth-child(2) {
  width: 27%;
  line-height: 1;
  letter-spacing: 1px;
  padding: 0px 4px;
}
table tr td:nth-child(3) {
  width: 75px;
  font-weight: 550;
}
table tr td:nth-child(4) span {
  font-size: 1.2rem;
  border-radius: 5px;
  display: inline-block;
  width: 45px;
  height: 22px;
  color: white;
  text-align: center;
  line-height: 22px;
}
table.women tr td:nth-child(4) span {
  background-color: #EE90C5;
}
table.men tr td:nth-child(4) span {
  background-color: #5FC5EA;
}
table tr td:nth-child(5) {
  font-size: 1.2rem;
  color: #aaa;
  cursor: pointer;
}
table.men tr:nth-child(2n) {
  background-color: #fafafd;
}
table.women tr:nth-child(2n) {
  background-color: #fdfafa;
}

#page_down {
  position: fixed;
  right: 14px;
  bottom: 14px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 2px 2px #ccc;
}
#page_down div {
  position: absolute;
  top: 22px;
  left: calc(50% - 12px);
  width: 0;
  height: 0;
  border-top: solid 12px #252627;
  border-right: solid 12px transparent;
  border-bottom: solid 12px transparent;
  border-left: solid 12px transparent;
}
