main {
  max-width: 1000px;
  margin: auto;
}
body {
  background-color: #F5F5F5;
}
.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

#header {
  background-image: radial-gradient( circle 997px at 5.8% 11.8%,  rgba(0,201,235,1) 0%, rgba(145,0,228,1) 90% );
  height: 170px;
  font-size: 1.6rem;
}
#header p {
  color: white;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
}
#header form {
  margin: auto;
  width: 70%;
  position: relative;
}

#header input[type='text'] {
  padding: 10px;
  width: 80%;
  height: 100%;
}
#header input[type="checkbox"]{
  display: none;
}
#header label {
  display: block;
  position: absolute;
  right: 18px;
  top: calc(50% - 9.5px);
  font-size: 1.2rem;
  color: #8C2F39;
  font-weight: bold;
  letter-spacing: 1px;
}
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #B23A48;
  position: absolute;
  right: 60px;
  top: 2px;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 8px;
  top: -1px;
  right: 65px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
#header input:focus{
  outline: none;
}

#header > div {
  display: flex;
  justify-content: center;
}
#header div div {
  background-color: #ffffff30;
  line-height: 2.5;
  width: 30%;
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  cursor: pointer;
}


#results {
  margin: 40px 10px;
}

#results .card {
  margin-bottom: 8px;
  padding: 5px 8px;
  display: flex;
}
#results .card.men {
  border-left: solid 7px var(--c-men);
}
#results .card.women {
  border-left: solid 7px var(--c-women);
}
#results .card img {
  width: 40px;
  height: 40px;
}

#results .card a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  /* width: 120px; */
  white-space: nowrap;
  padding: 0 10px;
  line-height: 40px;
  letter-spacing: 1px;
}

#results .card div {
  padding: 4px;
}
#results .card div span {
  display: inline-block;
  font-size: 1.1rem;
  background-color: var(--c-yellow);
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 15px;
  margin: 1px;
  cursor: pointer;
}
#results .card div span:first-child {
  background-color: var(--c-blue);
  cursor: auto;
}

#results .card{
  animation-name: fadein;
  animation-duration: 1s;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

#sorry {
  margin: 20px 40px;
}
#sorry p {
  font-size: 1.6rem;
  text-align: center;
  color: #888;
  letter-spacing: 2px;
}
#sorry img {
  width: 80%;
  max-width: 300px;
  display: block;
  margin: 40px auto;
}
